<html>
  <head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body class="ma5 bg-dark-gray near-white sans-serif">
    <div class="w-100 flex flex-column items-center">
      <div class="w-third">
        <h1>Avsnitt 5: Polisen</h1>
        <p class="lh-copy">Ni har knäckt det! Ni ringer polisen.</p>
        <p class="lh-copy">Efter en stund i telefonkö får ni prata med en polis. Hon ber er berätta vad ni fått reda på. Efter att ni gjort det är hon tyst en stund, ni tycker ni hör lite fnissande i bakgrunden. Polisen kommer tillbaka i luren, tackar er så mycket för ert tips och lägger på. Ni tittar på varandra, skakar på huvudena och går hem.</p>
        <p class="lh-copy">Ett par dagar senare ser ni rubriken i tidningen:</p>
        <h1 class="ttu">Skånebanken rånad</h1>
        <p>Slut.</p>
      </div>
    </div>
  </body>
  <script>
    
  </script>
</html>